[submodule "app/www/gorodskie-bani.ru"]
	path = app/www/gorodskie-bani.ru
	url = https://github.com/Fi1osof/gorodskie-bani.ru.git
[submodule "prisma-cms/gorodskie-bani-ru"]
	path = prisma-cms/gorodskie-bani.ru
	url = https://github.com/gorodskie-bani-ru/nextjs
